<nav class="navbar navbar-inverse navbar-fixed-top" *ngIf="categories">
  <div class="container-fluid">
    <ul class="nav navbar-nav" *ngFor="let category of categories">
      <li><a [routerLink]="['category', category['slug']]" routerLinkActive="active">{{ category['name'] }}</a></li>
    </ul>
    <app-search></app-search>
  </div>
</nav>
