<div *ngIf="game"class="container" >
  <img class="img-responsive center-block" [src]="game['game-logo']['src']" [srcset]="game['game-logo']['srcset']">
  <div class="embed-responsive embed-responsive-{{game['suggested-width']}}by{{game['suggested-height']}} mt-5">
    <iframe class="embed-responsive-item" [src]="game['url'] | safe"></iframe>
  </div>
  <div class="row mt-2">
    <ul class="list-inline">
      <li class="text-md text-center text-color-white-bold pl-15">Minimum Bet: {{game['minimum-bet']}}</li>
      <li class="text-md text-center text-color-white-bold pl-15">Maximum Bet: {{game['maximum-bet']}}</li>
      <li class="text-md text-center text-color-white-bold pl-15">Maximum Win: {{game['maximum-win']}}</li>
    </ul>
  </div>
  <div class="image-container" *ngIf="game['game-screenshots']">
    <img class="img-responsive center-block mt-5" *ngFor="let scSh of game['game-screenshots']" [src]="scSh['src']" [srcset]="scSh['srcset']">
  </div>
</div>

