.mt-2 {
  margin-top: 2em;
}

.mt-5 {
  margin-top: 5em;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
}

.text-md {
  font-size: medium;
}

.text-color-white-bold {
  color: whitesmoke;
  font-weight: bold;
}

.pl-15 {
  padding-left: 15%;
}
