<!--The content below is only a placeholder and can be replaced.-->
<app-categories></app-categories>
<div class="container mb-8 mt-8">
  <h1 class="text-center">Black Onyx</h1>
</div>
<router-outlet></router-outlet>
