h1 {
  font-family: "Great Vibes", cursive;
  font-weight: bolder;
  font-style: oblique;
  color: darkcyan;
  text-shadow: 0 0 10px whitesmoke, 0 0 20px #FF0000;
  font-size: 10em;
}

.mt-8 {
  margin-top: 8em;
}

.mb-8 {
  margin-bottom: 10em;
}
