<div class="container">
  <div *ngIf="filteredGames">
    <div class="text-no-data mt-30" *ngIf="(filteredGames | KeyNgFor).length === 0">
      No Games to Show
    </div>
    <div *ngIf="(filteredGames | KeyNgFor).length > 0">
      <span *ngFor="let gameId of filteredGames | KeyNgFor">
        <a *ngIf="filteredGames[gameId]['game-image']" [routerLink]="['/game',filteredGames[gameId]['slug']]">
          <img [src]="filteredGames[gameId]['game-image']['src']" [srcset]="filteredGames[gameId]['game-image']['srcset']">
        </a>
      </span>
    </div>
  </div>
</div>
