<form class="navbar-form navbar-right">
  <div class="input-group">
    <input type="text" class="form-control" [value]="query" (keyup)="onKey($event)" placeholder="Search...">
    <div class="input-group-btn">
      <button class="btn btn-default" type="button" (click)="clearQuery()">
        <i class="glyphicon glyphicon-remove"></i>
      </button>
    </div>
  </div>
</form>
